@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: "Dosis", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Dosis", sans-serif;
}

code {
  font-family: "Dosis", sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
